<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
        "http://java.sun.com/j2ee/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>

    <tlib-version>1.0</tlib-version>
    <jsp-version>2.0</jsp-version>
    <short-name>by.training.util</short-name>
    <uri>by.training.util</uri>

    <tag>
        <name>listmapping</name>
        <tag-class>by.training.jsptag.ListMappingTagHandler</tag-class>
        <body-content>scriptless</body-content>
    </tag>

    <tag>
        <name>resolveurl</name>
        <tag-class>by.training.jsptag.ResolveUrlTagHandler</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>url</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

</taglib>